@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at 50% 50%, #0a0a10 0%, #030308 100%);
  color: white;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

@layer utilities {
  .avatar-wrapper {
    position: relative;
    display: inline-block;
    transform-style: preserve-3d;
  }



  @keyframes spinY {
    0% {
      transform: rotateY(0deg) scale(1);
    }

    100% {
      transform: rotateY(360deg) scale(1.05);
    }
  }

  .avatar-wrapper:hover .avatar-image {
    animation: spinY 1.2s ease-in-out forwards;
    box-shadow: 0 0 15px #6A4CFF, 0 0 25px #6A4CFF;
  }

  @keyframes shineMove {
    0% {
      left: -75%;
    }

    100% {
      left: 125%;
    }
  }
}