@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at 50% 50%, #0a0a10 0%, #030308 100%);
  color: white;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}